<<<<<<< HEAD
body {
    background-image: url("bg.jpg");
    background-size: cover;

}
.center {
    border: 2px solid rgb(99, 117, 177);
    background-color:aliceblue;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 900px;
    height: 800px;
    justify-content: center;
    text-align: center;


}
.picture {
    position: absolute;
    margin: auto;
    top: 13%;
    left: 12%;
    height: auto;
    width: auto;

}
img {
    border: 2px solid rgb(99, 117, 177);
    padding: 5px;
    width: 680px;
    height: 600px;
}
h2 {
    font-family: sans-serif;
    font-size: 30;
}
